.main {
  padding: 20px;
  .list-container {
    height: 500px;
    width: 100%;
  
    .cdk-virtual-scroll-content-wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
}