/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import '~@angular/material/theming';

// Create a config with the default typography levels.
$config: mat-typography-config();

html, body {
  margin: 0;
  font-size: mat-font-size($config, headline);
  font-family: mat-font-family($config);
}